html{
	background: $color-white;
	color: $color-grayDk;
	font: normal 1em/1.8em $font-pn--reg;
}

.sitenav{
	display: block;
	padding-top: 40px;
	padding-bottom: 40px;

	&-brand{
		font: normal 2em/1em $font-pn--bold;
		text-transform: uppercase;
	}

	&-list{
		display: block;
		list-style-type: none;

		&-item{
			display: block;
			float: left;

			&-target{
				text-decoration: none;
			}
		}
	}
}

.site{
	&-head{
		position: relative;

		&-img{
			display: block;
		}

		&-title{
			font: normal 3.25rem/1.2em $font-pn--bold;
			position: absolute;
		    top: 50%;
		    @include transform(translateY(-50%));

			& .mod-assist{
				display: block;
				font: normal 2rem/1.2em $font-pn--reg;
			}
		}

		&-fuku{
			position: absolute;
			top: 0;
			right: 0;
			width: 350px;
			height: 350px;
			border-radius: 100%;
			padding: 20px;
			border: 15px solid $color-yellow;
			top: 50%;
			@include transform(translateY(-30%));
			z-index: -1;

			&-img{
				display: block;
				margin-top: 10px;
			}
		}
	}
}

.expo{
	margin-top: -20px;
}

.section{
	position: relative;
	padding-top: 9em;
	padding-bottom: 6em;
}

.employment{
	list-style-type: none;

	&-item{

	}

	&-year{
		text-align: right;
	}

	&-info{
		
		&-title{
			color: $color-gray;
			font-family: $font-pn--lite;
			font-size: 0.8em;
			text-transform: uppercase;
		}
	}

	&-tags{
		display: inline-block;
		list-style-type: none;
		margin-top: 10px;

		&-item{
			border: 1px solid;
			border-radius: 3px;
			color: $color-gray;
			display: block;
			font: normal 0.75em/1em $font-pn--reg;
			float: left;
			margin-right: 5px;
			padding: 5px;
		}
	}
}

.skills{
	list-style-type: none;
	display: block;

	&-item{
		display: block;
		font: normal 1rem/2 $font-pn--c-bold;
		position: relative;
		padding: 2px 5px;
		margin-bottom: 10px;
		text-transform: uppercase;

		&-chart{
			background: $color-yellow;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			z-index: -1;
		}
	}
}