$font-pn--lite:         'ProximaNovaLight', sans-serif;
$font-pn--thin:         'ProximaNovaThin', sans-serif;
$font-pn--reg:          'ProximaNovaRegular', sans-serif;
$font-pn--semibold:     'ProximaNovaSemibold', sans-serif;
$font-pn--bold:         'ProximaNovaBold', sans-serif;
$font-pn--black:        'ProximaNovaBlack', sans-serif;
$font-pn--c-reg:        'ProximaNovaCondensedRegular', sans-serif;
$font-pn--c-semibold:   'ProximaNovaCondensedSemibold', sans-serif;
$font-pn--c-bold:       'ProximaNovaCondensedBold', sans-serif;

$color-grayDk:	#5E5E5E;
$color-gray:		#C1C1C1;

$color-green:   #00FDBB;
$color-greenDk: #00D39C;

$color-yellow:  #FDEC00;

$color-white:		#F5F5F5;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($effects) {
  -webkit-transition: $effects;
     -moz-transition: $effects;
       -o-transition: $effects;
          transition: $effects;
}

@mixin transform($vals) {
  -webkit-transform: $vals;
     -moz-transform: $vals;
       -o-transform: $vals;
          transform: $vals;
}