/* FONTS ==================================================================== */
$font-pn--lite:         'ProximaNovaLight', sans-serif;
$font-pn--thin:         'ProximaNovaThin', sans-serif;
$font-pn--reg:          'ProximaNovaRegular', sans-serif;
$font-pn--semibold:     'ProximaNovaSemibold', sans-serif;
$font-pn--bold:         'ProximaNovaBold', sans-serif;
$font-pn--black:        'ProximaNovaBlack', sans-serif;
$font-pn--c-reg:        'ProximaNovaCondensedRegular', sans-serif;
$font-pn--c-semibold:   'ProximaNovaCondensedSemibold', sans-serif;
$font-pn--c-bold:       'ProximaNovaCondensedBold', sans-serif;

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova-Light-webfont.eot");
  src: url("../fonts/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light-webfont.woff") format("woff"), url("../fonts/ProximaNova-Light-webfont.ttf") format("truetype"), url("../fonts/ProximaNova-Light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaThin';
  src: url("../fonts/ProximaNova-Thin-webfont.eot");
  src: url("../fonts/ProximaNova-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Thin-webfont.woff") format("woff"), url("../fonts/ProximaNova-Thin-webfont.ttf") format("truetype"), url("../fonts/ProximaNova-Thin-webfont.svg#proxima_novathin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova-Reg-webfont.eot");
  src: url("../fonts/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Reg-webfont.woff") format("woff"), url("../fonts/ProximaNova-Reg-webfont.ttf") format("truetype"), url("../fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCondensedRegular';
  src: url("../fonts/ProximaNovaCond-Reg-webfont.eot");
  src: url("../fonts/ProximaNovaCond-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Reg-webfont.woff") format("woff"), url("../fonts/ProximaNovaCond-Reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCondensedBold';
  src: url("../fonts/ProximaNovaCond-Bold-webfont.eot");
  src: url("../fonts/ProximaNovaCond-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Bold-webfont.woff") format("woff"), url("../fonts/ProximaNovaCond-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCondensedSemibold';
  src: url("../fonts/ProximaNovaCond-Sbold-webfont.eot");
  src: url("../fonts/ProximaNovaCond-Sbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaCond-Sbold-webfont.woff") format("woff"), url("../fonts/ProximaNovaCond-Sbold-webfont.woff2") format("woff2"), url("../fonts/ProximaNovaCond-Sbold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url("../fonts/ProximaNova-Sbold-webfont.eot");
  src: url("../fonts/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/ProximaNova-Sbold-webfont.woff") format("woff"), 
       url("../fonts/ProximaNova-Sbold-webfont.woff2") format("woff2"), 
       url("../fonts/ProximaNova-Sbold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova-Bold-webfont.eot");
  src: url("../fonts/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/ProximaNova-Bold-webfont.woff") format("woff"), 
       url("../fonts/ProximaNova-Bold-webfont.woff2") format("woff2"), 
       url("../fonts/ProximaNova-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}