.sitenav{
	&-list{
		&-item{
			margin-left: 10px;
			margin-right: 10px;

			&-target{
				color: $color-grayDk;
			}
		}
	}
}

.footer{
	border-top: 1px solid $color-gray;
	padding-top: 20px;
	padding-bottom: 20px;

	&-type{
		text-align: center;
		color: $color-gray;
	}
}