
.section-marker{
	background: rgba(0, 253, 187, 0.9);
	display: inline-block;
	font: normal 2rem/1em $font-pn--reg;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 50%;
	z-index: 10;

	&.mod-left{
		left: -40px;
	}
	&.mod-right{
		right: -40px;
	}
}

.mod-small-caps{
	font-variant: small-caps;
}
.section-title{
	font: normal 2.25rem/1.2em $font-pn--reg;

	&.mod-right{
		text-align: right;
	}
}
@include media('<sm') {
	.section-marker{
		position: relative;
		width: 100%;
		left: 0 !important;
		right: 0 !important;
		margin-bottom: 20px;
		font-size: 1rem;
	}
	.section-title.mod-right{
		font-size: 1.5em;
		text-align: left;
		margin-bottom: 20px;
		margin-top: 2em;
	}
}

.subheadline{
	font: normal 1.625em/1.2em $font-pn--reg;

	&.mod-help{
		color: $color-gray;
	}
}

p + p{
	margin-top: 1em;
}

.contact{
	list-style-type: none;
	margin-top: 100px;
	text-align: center;
	
	&-item{
		display: inline-block;
		
		&.mod-block{
			display: block;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		&.mod-smaller{
			font-size: 2em;
		}

		&-target{
			color: $color-gray;
			text-decoration: none;
			font: normal 3em/1 $font-pn--lite;
			transition: color .2s ease;
			
			&.mod-email{
				font-size: 2em;
			}

			&:hover,
			&:focus{
				&.mod-twitter{color: $color-twitter;}
				&.mod-google{color: $color-google;}
				&.mod-instagram{color: $color-instagram;}
				&.mod-vsco{color: $color-vsco;}
				&.mod-behance{color: $color-behance;}
				&.mod-linkedin{color: $color-linkedin;}
				&.mod-github{color: $color-github;}
				&.mod-email{color: $color-email;}	
			}
		}
	}
}

@include media('<sm') {
	.contact-item-target{
		font-size: 2.25em;
	}
}