
.section-marker{
	background: rgba(0, 253, 187, 0.9);
	display: inline-block;
	font: normal 2rem/1em $font-pn--reg;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 50%;
	z-index: 10;

	&.mod-left{
		left: -40px;
	}
	&.mod-right{
		right: -40px;
	}
}

.mod-small-caps{
	font-variant: small-caps;
}
.section-title{
	font: normal 2.25rem/1.2em $font-pn--reg;

	&.mod-right{
		text-align: right;
	}
}

.subheadline{
	font: normal 1.625em/1.2em $font-pn--reg;

	&.mod-help{
		color: $color-gray;
	}
}

p + p{
	margin-top: 1em;
}