<div class="col-sm-12">
    <h2 class="pageTitle">Hi there.</h2>
</div>
<div class="col-sm-4">
    <img class="avatar" src="img/jason.svg" alt="">
</div>
<div class="col-sm-5 text-pad">
    <p>
        User Experience design from information architecture and requirements gathering through ISO Standards annotated
        wireframes and user flows, to design and full-stack development (LAMP, WIMP, etc).
    </p>
    <p>
        I work heavily in JavaScript and have designed and developed web applications with jQuery, Angular and other
        frameworks.  Web sites and web applications utilize SCSS built on OOCSS standards, semantic, SEO and ADA
        friendly HTML5, object oriented JavaScript and PHP using the MVC design pattern where possible.
    </p>
</div>
<div class="col-sm-3 text-pad">
    <ul class="socialLinks">
        <li class="socialLinks-item">
            <a href="" class="socialLinks-target fab fab-twitter" aria-label="twitter link"></a>
        </li>
        <li class="socialLinks-item">
            <a href="" class="socialLinks-target fab fab-instagram" aria-label="instagram link"></a>
        </li>
        <li class="socialLinks-item">
            <a href="" class="socialLinks-target fab fab-linkedin" aria-label="LinkedIn link"></a>
        </li>
        <li class="socialLinks-item">
            <a href="" class="socialLinks-target fab fab-github" aria-label="github link"></a>
        </li>
    </ul>

    <p>
        <b>If you want to see my design work</b> please go check out my <a href="#" class="link">behance portfolio</a>.
    </p>
</div>